body {
    margin:0;
    padding:0;
    min-height:100vh;
    }

#main {
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  width:400px;
  height:400px;
  margin:25px auto 0;
}

#square {
  width:200px;
  height:200px;
  background-color: rgb(159, 104, 159);
}